@import url("./assets//variables.css");

.app-container {
  width: 100vw;
  height: clamp(700px, 100vh, 900px);
  min-width: max-content;
  background: hsla(276, 91%, 79%, 1);

  background: linear-gradient(
    225deg,
    hsla(276, 91%, 79%, 1) 0%,
    hsla(254, 74%, 65%, 1) 47%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(276, 91%, 79%, 1) 0%,
    hsla(254, 74%, 65%, 1) 47%
  );

  background: var(--primary-tone-light);
}

.login-register-form-container {
  height: clamp(700px, 100vh, 900px);
  width: clamp(300px, 35vw, 450px);
  background-color: var(--secondary-tone-light);
  margin: 0 auto;
  /* padding: clamp(0, 8vw, 32px); */
  border-radius: 10px;
  color: #212121;
  height: 80%;
  /* margin-top: 20px; */
  & :hover {
    cursor: pointer;
  }
}
.login-register-form-container .form-selection {
  width: 100%;
  height: 75px;
  color: #101213;
  text-align: center;
  /* border-bottom: 1px solid black; */
  line-height: 100%;
}

.form-selection .options {
  line-height: 5;
  width: 50%;
  display: inline-block;
  border-radius: 5px;
  height: 100%;
  font-size: large;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgba(139, 155, 176, 0.221);
  }
}
.active {
  border-bottom: 2px solid rgb(87, 28, 98);
}
/* .login-form-container {
} */

.login-form {
  /* background-color: red; */
  height: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  text-align: left;
  align-items: center;
  & > * {
    /* margin-bottom: px; */
    width: 80%;
  }
}
.input-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px 20px;
  & > * {
    width: 100%;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.input-container > .login-signup-checkbox {
  height: 20px;
  width: 20px;
  margin-bottom: 0;
  /* margin-top: 20px; */
}

.login-form-input-fields {
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  border: #1a1c1c solid 1px;
  box-shadow: 10px 5px 16px 10px #e2e2e2;
  border-color: rgb(163, 159, 159);
  font-size: large;
}

.login-form-input-labels {
  /* height: 30px; */
  margin-top: 20px;
  font-size: larger;
  text-align: left;
  margin: 0 auto;
}
.checkbox-container > * {
  margin: 0;
}

/* .login-form-input-fields:last-of-type {
  margin-top: 10px;
  display: inline-block;
}
.login-form-input-labels:last-of-type {
  margin-top: 10px;
  display: inline-block;
  font-size: small;
} */
.general-button {
  background-color: var(--button-color-light-general);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
  height: 60px;
  transition: background-color 0.2s ease;
  font-size: large;
}
.general-button:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

.error-basic {
  color: black;
  font-size: small;
  margin-top: 10px;
  background-color: rgba(200, 200, 200, 0.414);
  width: fit-content;
  border-radius: 5px;
  align-self: flex-start;
}
.valid {
  color: green;
}

.invalid {
  color: red;
}
