.login-register-form-container {
  height: clamp(600px, 75%, 900px);
  width: clamp(300px, 35vw, 500px);
  background-color: rgba(219, 234, 254);
  margin: auto auto;
  padding: clamp(10px, 8vw, 32px);
  border-radius: 10px;
  color: #212121;
}
.login-register-form-container .form-selection {
  width: 100%;
  height: 50px;
  color: #101213;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
  & > span {
    width: 50%;
    display: inline-block;
    border-radius: 5px;
    height: 100%;
    font-size: large;
    &:hover {
      background-color: rgb(139, 155, 176);
    }
  }
}
/* .login-form-container {
} */

.login-form {
  /* background-color: red; */
  height: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  text-align: left;
  align-items: center;
  & > * {
    /* margin-bottom: px; */
    width: 80%;
  }
}

.login-form-input-fields {
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;

  border-color: rgb(163, 159, 159);
  &:last-of-type {
    height: 18px;
  }
}

.login-form-input-labels {
  /* height: 30px; */
  margin-top: 30px;
}
