/* Modern CSS Reset */
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Improve text rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "Notoserifottoman";
  src: url("./font/NotoSerifOttomanSiyaq-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  min-height: 700px;
  min-width: max-content;
}
#root {
  min-height: 700px;
  /* width: 100vw; */
  font-family: "Notoserifottoman";
  color: var(--font-color-black);
}
:root {
  --font-color-black: #131313;
  --font-color-white: #f5f5f5;
  --font-color-gray: #4a4a4a;
  --bg-color-white: #ffffff;
  --bg-color-black: #0a0a0a;
  --bg-color-gray: #f5f5f5;

  --font-color-primary: #1a73e8;
  --font-color-secondary: #d93025;
  --font-color-success: #188038;
  --font-color-warning: #e37400;
}

@layer components {
  .calendar-container {
    @apply grid bg-gray-900 h-auto w-96 rounded-xl shadow-md gap-1 p-4;
    grid-template-rows: 20% 80%;
  }
}

.calendar-first-row {
  @apply grid grid-cols-2 gap-1 h-6;
  grid-template-columns: 80% 20%;
  padding-top: 10px;
}
calendar-second-row {
  @apply grid h-auto;
}
.calendar-dates-grid {
  @apply text-center font-extrabold text-xl;
  place-self: center;
}
.grid-week-container {
  @apply grid grid-rows-2 gap-2 bg-gray-900 rounded-lg shadow-md text-white;
  grid-template-columns: 80% 20%;
}
.grid-weekdays-heading {
  @apply grid grid-cols-7 gap-2 bg-gray-900 rounded-lg shadow-md text-white;
}
.grid-weekdays-dates {
  @apply grid grid-cols-7 gap-2 text-white border-0;
}
/* nav container */
.nav-container {
  @apply grid grid-cols-10 p-4;
}
.nav-first {
  @apply flex items-center justify-evenly;
  grid-column: span 2 / span 2;
}
.general-padding-2 {
  @apply p-2;
}
.nav-second {
  @apply flex items-center;
  grid-column: span 3 / span 3;
}
.nav-third {
  @apply flex items-center gap-4 justify-end;
  grid-column: span 5 / span 5;
  align-items: end;
}
.general-click {
  @apply hover:bg-gray-700 cursor-pointer transition-colors rounded-lg active:bg-gray-600;
}

@layer utilities {
  .bg-primary {
    background-color: var(--font-color-primary);
  }
  .bg-secondary {
    background-color: var(--font-color-secondary);
  }
  .bg-success {
    background-color: var(--font-color-success);
  }
  .bg-warning {
    background-color: var(--font-color-warning);
  }
  .center-text-grid {
    vertical-align: middle;
  }
}
