/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Improve text rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "Notoserifottoman";
  src: url("./font/NotoSerifOttomanSiyaq-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin-top: 10px;
  min-height: 700px;
  min-width: max-content;
}
#root {
  min-height: 700px;
  /* width: 100vw; */
  font-family: "Notoserifottoman";
  color: var(--font-color-black);
}
